.InfoImg {
    padding-top: 5vh;
    height: 40vh;
}

.Info {
    text-align: center;
    padding-bottom: 5vh;
}

.Info h2 {
    font-style: normal;
    font-weight: 525;
    font-size: 24px;
    padding-bottom: 2.5vh;
}
.Info p {
    line-height: 30px;
    padding-bottom: 2vh;
}

.InfoButtonHidden {
    height: 7.8vh;
    width: 0;
    opacity: 0;
    pointer-events: none;
    display: none;
}

.InfoButton {
    background-color: #042563 !important;
    height: 7.8vh !important;
    width: 40vw !important;
    border-radius: 20px !important;
    text-align: center;
}

.InfoButton:hover {
    background-color: #3F3D56 !important;
}

.Info a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #FCFCFF;
    height: 100%;
    padding-top: 10%;
}

/* Desktop Styles */
@media only screen and (min-width: 600px) {
    .Info {
        padding-top: 10vh;
        padding-left: 20vw;
        padding-right: 20vw;
        padding-bottom: 0;
    }
    
    .InfoRight {
        text-align: right;
    }
    
    .InfoLeft {
        text-align: left;
    }
    
    .InfoImg {
        height: 50vh;
    }
    
    .Info h2 {
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 100px;
    }
    
    .Info p {
        line-height: 30px;
        padding-bottom: 2vh;
    }
    
    .InfoButtonHidden {
        background-color: #042563;
        color: #FCFCFF;
        height: 7.8vh;
        width: 9.3vw;
        border-radius: 20px;
        opacity: 0;
        pointer-events: none;
    }
    
    .InfoButton {
        background-color: #042563 !important;
        height: 7.8vh !important;
        width: 9.3vw !important;
        border-radius: 20px !important;
    }
    
    .InfoButton:hover {
        background-color: #3F3D56 !important;
    }
    
    .Info a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: #FCFCFF;
        height: 100%;
        padding-top: 10%;
    }


}