.App {
  text-align: left;
  font-family: 'Lato', sans-serif;
  background-color: #FCFCFF;
  color: #042563;
  padding-left: 0 !important;
  padding-right: 0 !important;
  overflow-x: hidden;
}

.ContentWrapper {
  padding-left: calc(var(--bs-gutter-x) * .5);
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.App p {
  color: #3F3D56;
  font-size: 18px;
}


/* Desktop Styles */
@media only screen and (min-width: 600px) {
  .App {
    text-align: left;
    font-family: 'Lato', sans-serif;
    background-color: #FCFCFF;
    color: #042563;
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow-x: hidden;
  }
  
  .App p {
    color: #3F3D56;
    font-size: 18px;
  }
}